<!doctype html>
<html ng-app="myApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="modules-app.js"></script>
    <title>Modules & Controllers</title>
  </head>
  <body>
    <div ng-controller="myController">
      <input type="text" ng-model="meetupModel.yourName" placeholder="Enter a name here">
      <h1>Hello, {{ meetupModel.yourName }}!</h1>
      <div>    
          <p>Thanks for organizing this awesome training session, {{meetupModel.organizer}}!!!</p>
          <hr>
          <p>And {{meetupModel.presenter}}... didn't suck. (Much.)</p>
          <button ng-click="demo()">Say Hi.</button>
              <!-- NOTE the ng-click directive: rather than burying an event-handler somewhere in our Javascript spaghetti, we declaratively assign a click handler right here in the HTML. ng-click is a preloaded directive provided by the Angular framework. You can build your own directives that do exactly the same thing, using exactly the same tools that they did!  -->
      </div>
    </div>
  </body>
</html>